@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
}

header {
  background: HONEYDEW;
  display: flex;
  justify-content: space-between;
  padding: 0px 20px;
}

main {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
}

.card {
  border-radius: 15px;
  overflow: hidden;
  background: HONEYDEW;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__img {
  width: 200px;
  height: 120px;
  object-fit: cover;
}
.card__subtitle {
  margin-top: 0px;
}